@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DeployCo, Inc.</h1>
    <p class="lead">DeployCo is an innovating thought leader in the Widget industry, constantly reengineering synergistic paradigms for optimized win-win metanegotiations.</p>
    <p><a href="https://www.deployco.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <h2>First Version</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo id ex a dignissim. Curabitur tincidunt nisi augue, in accumsan dolor euismod non. Mauris et faucibus augue. Curabitur finibus vitae urna varius porttitor. In tempor lorem ut metus maximus volutpat. Sed id pharetra eros. Donec dignissim enim vel fringilla commodo. Suspendisse blandit, nulla placerat viverra luctus, turpis ipsum gravida massa, at pulvinar quam diam vel libero. Praesent sem enim, ultrices vitae elementum nec, fermentum vel lectus. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Nam ultrices auctor eros at egestas. Donec suscipit augue euismod, porta purus a, imperdiet erat. Suspendisse orci sem, luctus ut consequat sit amet, auctor at diam. Pellentesque venenatis semper nisi nec euismod.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Praesent pellentesque velit id lacus pretium, id interdum ante varius. Aenean ullamcorper dolor et leo placerat, dapibus dapibus libero cursus. Nunc suscipit quam ut nulla molestie dignissim. Ut vel mollis mi. Donec tincidunt gravida dictum. Curabitur lacinia mollis lacinia. Cras viverra ultricies est non pharetra. Cras in nibh at leo finibus facilisis non quis ante. Suspendisse dignissim pellentesque massa sit amet mollis. Morbi at hendrerit leo.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Etiam feugiat leo lorem, vel rhoncus elit accumsan mattis. Aliquam dapibus mi orci, eu pretium lacus ornare nec. Fusce lobortis id ipsum ut mattis. Mauris vel ornare est, et aliquam mauris. Sed mi ex, tincidunt non turpis in, vulputate maximus justo. Etiam efficitur sed arcu at tincidunt. Cras eleifend posuere quam, eu molestie metus dictum vitae. Etiam et lacinia ligula. Phasellus risus metus, blandit in commodo in, semper lobortis diam. Morbi interdum libero mollis, gravida sem quis, venenatis ex. Nam eu pharetra risus. Mauris et arcu in massa vestibulum bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lobortis pretium dictum. Nunc in erat ac augue maximus faucibus ac eu libero. Morbi ac lectus molestie leo semper blandit.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Mauris sollicitudin, risus et porta egestas, magna odio porta augue, eget maximus enim dolor at neque. Suspendisse potenti. Maecenas non ex at augue pulvinar porta ac et leo. Proin purus metus, fringilla ut auctor quis, luctus sed velit. Quisque venenatis ultricies nisl. Donec tristique erat vel dolor tempor scelerisque. Vivamus ultrices tempus mauris, quis posuere justo vulputate vel. Donec dictum diam ut finibus semper. Nam placerat tincidunt fringilla. Aenean at eleifend quam. Proin sit amet elementum ligula. Nam euismod diam sit amet hendrerit viverra. Aliquam rhoncus lorem sed nibh pulvinar molestie. Mauris et dui quis arcu bibendum maximus vel in orci. Quisque vehicula, arcu nec rhoncus sodales, lorem risus molestie ex, sit amet tincidunt leo eros eu nibh.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Sed vulputate dignissim ultricies. Vivamus rhoncus nisi quis tincidunt tristique. Nulla euismod pellentesque velit. Cras fringilla egestas risus. Integer semper dapibus nisl, quis porta sapien elementum sed. Pellentesque at mauris non quam tempus hendrerit. Mauris semper blandit lobortis. Suspendisse aliquam enim id sapien ullamcorper scelerisque. Donec ac massa dui. Phasellus mattis et arcu sit amet tincidunt. Mauris convallis ultricies nisi, quis cursus sapien consequat vitae. Morbi in quam nulla.
        </p>
    </div>
</div>